<html>
  <head>
    <style>
      body { background-color: #f2f2f2; font-family: Arial, sans-serif; }
      .container { background-color: white; max-width: 600px; margin: 0 auto;
      padding: 20px; border-radius: 5px; } h1 { color: #0066cc; } p {
      line-height: 1.5; margin-bottom: 20px; } .btn { background-color: #0066cc;
      color: white; padding: 12px 20px; border-radius: 4px; text-decoration:
      none; font-size: 1em; } .btn:hover { background-color: #0052a3; color:
      #f2f2f2; }
    </style>
  </head>

  <body>
    <div class="container">

      <h1>Verify Your Email</h1>

      <p>Thank you for signing up! We're excited to have you on board. To
        complete your registration, please click the button below to verify your
        email address:</p>

      <p>Once verified, you'll have full access to your account and can start
        enjoying all the features we have to offer. We strive to provide
        top-notch service, so please don't hesitate to reach out if you ever
        have any questions or feedback!</p>

      <a href="{{url}}" target="_blank" class="btn" style="color: white;">Verify
        Email</a>
    </div>
  </body>
</html>